body{
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5 arial;
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}

header .highlight a{
	color: #e74c3c;
	font-weight: bold;
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

.button_1{
	height: 38px;
	background: #e74c3c;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

#branding img{
	width: 125px;
}

header{
	background: #95a5a6;
	color: #ffffff;
	min-height: 70px
	padding-top:30px;
	border-bottom: #e74c3c 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header a:hover{
	color: #e74c3c;
}

header ul{
	padding: 0;
	margin: 0;
}

header li{
	float: left;
	display: inline;
	padding: 5px 20px 5px 20px;
	margin-left: 10px;
	background: #7f8c8d;
	line-height: normal;
	border-radius: 5px;
}

header #branding{
	float: left;
}

header nav{
	float: right;
	margin-top: 50px;
}

header #branding h1{
	display: inline;
	float: right;
	margin-top: 50px;
}

#showcase{
	min-height: 700px;
	background: url('./img/screen1.jpg') no-repeat center -280px;
	background-size: 1700px;
	text-align: center;
	color: #e74c3c;
}

#showcase h1{
	margin-top: 200px;
	font-size: 180px;
	margin-bottom: 10px;
}

#showcase p{
	color: #ffffff;
	font-size: 50px;
}

#thx{
	background: #95a5a6;
	padding :5px;
	color: #ffffff;
}

#thx h1{
	text-align: center;
}

#developer img{
	width: 100px;
}

#developer{
	margin-top: 20px;

}


#developer .box{
	float: left;
	padding: 10px;
	text-align: center;
	width: 25%;
	margin-right: 125px;
	margin-left: 125px;
}

footer{
	background: #e74c3c;
	text-align: center;
	padding: 20px;
	color: #ffffff;
}